[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
gensim = "*"
pandas = "*"
pyldavis = "*"
matplotlib = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.8"
