<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    
    <script type='text/javascript'>
     
      </script>
      <style type="text/css">
       
      </style>
    <title>SF Data</title>
  </head>
  <body>
    <div id="navBar1" style="display:flex;flex-flow:row wrap;justify-content:center;align-items:center;width:100%;background-color:#e1e9f7;height:45px;">
     
  </div>
    {% block content %}{% endblock %}
  </body>
</html>