{% extends "base.html" %}
{% block title %}i{% endblock %}{{ super() }}
  {% block content %}
 
  <h1>Welcome to the SF Nexus!</h1>
  <p>
      This is the demo app for the SF extracted features API.
    </br>
    </br>
      <em>Digitizing Science Fiction</em></br>
    </br>
      The data for this app was compiled through a digitization project at Temple University Libraries.</br>
      For an Omeka exhibit and more information about the project, see the <a href="https://lcdssgeo.com/omeka-s/s/scifi/page/digitizing-science-fiction">Digitizing the New Wave website</a>.  
    </br>
    </br>
      <em>Getting the Data</em></br>
    </br>
      To access our data, visit the <a href="api/v1/resources/books/all">API</a>. 
    </br>
    </br>
    To see a topic model visualization using Gensim and pyLDAviz, check out the <a href='/topics'>demo</a>.
   </p>
  <img src="/static/selection.jpg">

{% endblock %}
