<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The SF Nexus!</title>
</head>
<body>
    <h1>Welcome to the SF Nexus!</h1>
    <p>
        This is the demo app for the SF extracted features API.

        <em>Digitizing Science Fiction</em>
        The data for this app was comiled through a digitization project at Temple University Libraries. 
        For an Omeka exhibit and more information about the project, see the <a href="https://lcdssgeo.com/omeka-s/s/scifi/page/digitizing-science-fiction">Digitizing the New Wave website</a>.  
        
        <em>Getting the Data</em>
        To access our data, visit the <a href="api/v1/resources/books/all">API</a>. 
    </p>
    <img src="/static/selection.jpg">
</body>
</html>
